.modal-dialog
  .modal-content
    .modal-body
      %ul.errors
      = form_for @todo_list, remote: true do |f|
        .field
          = f.label :title
          %br/
          = f.text_field :title, :autocomplete => :off
        .field
          = f.label :description
          %br/
          = f.text_area :description, :autocomplete => :off
        .actions
          = f.submit





