<% if @todo_list.errors.any? %>
$( ".error" ).remove();
<% if @todo_list.errors[:title]%>
$( "<div class='error'><%= @todo_list.errors[:title].first %> </div>" ).insertAfter( $("#todo_list_title"));
<% end %>
<% if @todo_list.errors[:description]%>
$( "<div class='error'><%= @todo_list.errors[:description].first %> </div>" ).insertAfter( $("#todo_list_description"));
<% end %>
<% else %>
$("#modal-window").modal("hide")
$(".todo_list_title").html("<%= @todo_list.title %>")
$(".todo_list_sub_title").html("<%= @todo_list.description %>")
<% end %>




setTimeout(function () { 
   $('#notice').html("<%= flash[:notice] %>");
   $('#notice').fadeTo(600,1).delay(1000).fadeTo(600,0);
}, 400);

